// should get style from material theme / mixins
.mat-card {
  margin: 10px;
  text-align: center;
  min-width: 150px;
}

.mat-card-title {
  font-size: 45px;
}

.my-card {
  background-color: grey;
}

.voted {
  background-color: #673ab7;
  color: white;
}

.my-card-dark {
  background-color: grey;
}

.voted-dark {
  background-color: #9c27b0;
}
