<mat-toolbar style="background-color: transparent">
    <mat-toolbar-row>
        <div class="items">

<!--            <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding: 0 10px 0 10px">-->
<!--              <div >-->
<!--                <mat-icon (click)="create()">add</mat-icon>-->
<!--              </div>-->
<!--              <div>-->
<!--                Create-->
<!--              </div>-->
<!--            </div>-->
<!--          <div>-->
<!--            Changes-->
<!--          </div>-->
        </div>
        <div class="items icons">
            <span>
                <app-search-box (searchBoxValue)="searchValueChanged($event)"></app-search-box>
            </span>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
