<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="items">
            <span>
            </span>
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <span>Logged in as {{userName()}}</span>
            <button mat-menu-item (click)="create()">Create</button>
            <button mat-menu-item (click)="logout()">Sign Out</button>
          </mat-menu>
        </div>
        <div class="items icons">
            <span>
                <app-search-box (searchBoxValue)="searchValueChanged($event)"></app-search-box>
            </span>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
