<div *ngIf="user; else login">
    <div [matMenuTriggerFor]="menu">
      <img *ngIf="user.photoUrl" height="40" width="40" [src]="user.photoUrl" class="photo">
      <!--    photo can be its own component-->
    </div>

    <mat-menu #menu="matMenu">
      <div class="items">
        <span class="greeting">Oh hey, {{user.name}}</span>
        <span class="button" (click)="logout()">Sign Out</span>
      </div>
    </mat-menu>
</div>
<ng-template #login>
  <button mat-stroked-button color="accent" (click)="signInWithGoogle()">Login</button>
</ng-template>
