.items {
  display: flex;
  justify-content: center;
  align-items: center;

  .item {
    padding: 10px;
  }
}

//.mat-menu-item{
//  padding: 10px
//}

.label {
  padding: 10px;
}

.icons {
  width: 100%;
  justify-content: flex-end;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit
}

mat-icon {
  vertical-align: middle;
}

h1 {
  font-size: xx-large;
}
