.items {
  display: flex;
  span {
    padding: 10px;
  }
}

.icons {

  width: 100%;
  justify-content: flex-end;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit
}

mat-icon {
  line-height: inherit;
}

h1 {
  font-size: xx-large;
}
