.admin-console {
  // border-left-style: inset;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  padding: 0;

  button {
    font-size: large;
  }

}
