.admin-console {
  .button {
    padding: 10px;
  }
  border-left-style: inset;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px;

  button {
    font-size: large;
  }
}
