  <div class="admin-console">
    <div class="button">
      <mat-card style="height:100%;">
        <ng-container *ngIf="!isShaming; else shaming">
          <button mat-button  (click)="startShameTimer()">
            Start Shame Timer
          </button>
        </ng-container>
        <ng-template #shaming>
          <mat-spinner diameter="35"></mat-spinner>
        </ng-template>
      </mat-card>
    </div>
    <div  class="button">
      <mat-card  style="height:100%;">
        <ng-container *ngIf="!pointsVisible">
          <button (click)="changePointVisibility('reveal')" mat-button color="primary">Reveal</button>
        </ng-container>
        <ng-container *ngIf="pointsVisible">
          <button (click)="changePointVisibility('reset')" mat-button color="warn">Reset</button>
        </ng-container>
      </mat-card>
    </div>
  </div>

