@import '~@angular/material/theming';
@include mat-core();

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.light-theme {
  // @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
  // a {
  //       color: orange;
  //     }
  //   height: 100%;
  //   color: $light-primary-text;
  //   $primary: mat-palette($mat-purple);
  //   $accent: mat-palette($mat-amber, A400, A100, A700);
  //   $warn: mat-palette($mat-red);
  //   $theme: mat-dark-theme($primary, $accent, $warn);
  
  //   @include angular-material-theme($theme);
}
.dark-theme {
    a {
        color: orange;
      }
    height: 100%;
    color: $light-primary-text;
    $primary: mat-palette($mat-purple);
    $accent: mat-palette($mat-amber, A400, A100, A700);
    $warn: mat-palette($mat-red);
    $app-theme: mat-dark-theme($primary, $accent, $warn);
  
    @include angular-material-theme($app-theme);

  }