<div class="container">

  <mat-drawer-container class="options-container" autosize>
    <mat-drawer #menu class="options-sidenav" mode="side">
      <div class="settings-items">

        <div class="item">Control Panel</div>
        <div>
          <mat-checkbox class="item" (change)="setShowAdminConsole($event)" id="showAdminConsole"
                        [(ngModel)]="showAdminConsole">
            Point Controls
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox class="item" (change)="setShowEventLog($event)" id="eventLog" [(ngModel)]="showEventLog">
            Event Log
          </mat-checkbox>
        </div>
        <div class="item">Voting Scheme</div>

        <mat-radio-group
          class="item"
          [(ngModel)]="votingScheme">
          <mat-radio-button class="spacing" *ngFor="let votingSchemeOption of votingSchemeOptions"
                            [value]="votingSchemeOption"
                            (change)="votingSchemeChanged($event)">{{votingSchemeOption}}</mat-radio-button>
        </mat-radio-group>

      </div>
    </mat-drawer>

    <div class="options-content">
      <button type="button" mat-button (click)="menu.toggle()">
        <mat-icon>settings</mat-icon>
        Settings
      </button>

      <ng-container *ngIf="!participant; else leaveSessionButton">
        <button type="button" mat-button (click)="joinSession()">
          <mat-icon>add</mat-icon>
          Join
        </button>
      </ng-container>

      <ng-template #leaveSessionButton>
        <button type="button" mat-button (click)="leaveSession()">
          <mat-icon>close</mat-icon>
          Bail
        </button>
      </ng-template>

    </div>
  </mat-drawer-container>

  <div>
    <admin-controls *ngIf="showAdminConsole"
                    (pointVisibilityEvent)="changePointVisibility($event)">
    </admin-controls>
  </div>
  <div class="center">
    <voting-booth *ngIf="participant"
                  [votingScheme]="votingScheme"
                  (voteSubmitted)="submitVote($event)">

    </voting-booth>
  </div>
  <div *ngIf="showEventLog" class="event-log">
    <activity-log
      [logs]="logs"
    ></activity-log>

  </div>


</div>
