:host {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;

  .options-container {
    min-height: 200px;
    height: 100%;
    border: 0;

  }

  .options-content {
    text-align: left;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
  }

  .options-sidenav {
    font-size: small;
    padding: 5px;
  }

  .mat-icon {
    padding-right: 10px;
  }



  .content {
    //width: 100%;
    display: flex;
    justify-content: space-between;
  }

}
