
.container {
  display: flex;
  height: 110px;

  .options-container {
    height: 100%;
    border: 0;
  }

  .options-content {
    text-align: left;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
  }

  .options-sidenav {
    font-size: small;
    padding: 5px;
  }

  .mat-icon {
    padding-right: 10px;
  }

  .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

}

.voting-scheme {
  margin-bottom: 10px;
  margin-top: 10px;
}

.spacing {
  margin-right: 5px;
}

.left-margin {
  margin-left: 5px;
}
