
<!--<div style="padding: 20px">-->
<!--  <h1>-->
<!--    Changes-->
<!--  </h1>-->
<!--    <div style="padding-top: 25px" class="theme">-->
<!--    <h5>2021-03-2021</h5>-->

<!--    <div style="border-left: 2px solid grey">-->
<!--      <ul>-->
<!--        <li>-->
<!--          Dashboard changes-->
<!--          <ul>-->
<!--            <li>-->
<!--              A session's participant count is now listed as "Users: [count]"-->
<!--            </li>-->
<!--            <li>-->
<!--              Certain activity in a session triggers an update to the last active state of the session. This is viewable on that session's card on the dashboard, giving some sense of this board's level of activity.-->
<!--            </li>-->
<!--          </ul>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div>
  <mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile [colspan]="1"></mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      <h1>Changes</h1>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1"></mat-grid-tile>
  </mat-grid-list>
<!--  <mat-grid-list cols="3" rowHeight="100px">-->
<!--    <mat-grid-tile [colspan]="1"></mat-grid-tile>-->
<!--    <mat-grid-tile [colspan]="1">-->
<!--      <h1>Changes</h1>-->
<!--    </mat-grid-tile>-->
<!--    <mat-grid-tile [colspan]="1"></mat-grid-tile>-->
<!--  </mat-grid-list>-->
</div>
