.content {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    display: flex;
    justify-content: center;
    flex: 1;
    max-height: 75px;

  }

  .session-body {
    display: flex;

    .user-tiles {
      justify-content: center;
      display: flex;
      flex: 3;
      flex-wrap: wrap;

    }

    .chart-container {
      flex: 1;
      //width: 25%;
    }
  }


}


.toolbar {
  width: 100%;
  height: 130px;
  position: absolute;
  bottom: 0;
}
