<ng-container (keydown.enter)="enterPasscodeForSession()">
  <div
       class="mat-app-background container">
    <mat-card>
      <mat-card-title>
        {{sessionName}}
      </mat-card-title>
      <mat-card-subtitle>This session requires a passcode to enter</mat-card-subtitle>
      <mat-card-content>
        <ng-container *ngIf="!loading; else spinner">
            <div class="full-width">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Input</mat-label>
                <input [(ngModel)]="passcode" type="password" matInput >
              </mat-form-field>
              <mat-error *ngIf="error">
                {{error}}
              </mat-error>
            </div>

            <div class="full-width">
              <button (click)="enterPasscodeForSession()" mat-raised-button color="primary" >Submit</button>
            </div>

        </ng-container>

        <ng-template #spinner>
          <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-evenly;">
            <div>
              <mat-spinner></mat-spinner>
            </div>
          </div>
        </ng-template>

      </mat-card-content>
    </mat-card>
  </div>
</ng-container>
