<ng-container>
  <div style="width:100%; height:100%; display: flex; justify-content: center; align-items: center" class="mat-app-background">
    <mat-card>
      <mat-card-title>
        This session requires a passcode to enter
      </mat-card-title>

      <mat-card-content>
        <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-evenly;">
          <div>
            <mat-form-field  appearance="fill">
              <mat-label>Input</mat-label>
              <input [(ngModel)]="passcode"  type="password" matInput>
            </mat-form-field>
            <mat-error *ngIf="error">
              {{error}}
            </mat-error>
          </div>
          <div>
            <button (click)="enterPasscodeForSession() "mat-raised-button color="primary">Submit</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>
