<ng-container (keydown.enter)="enterPasscodeForSession()">
  <div
       class="mat-app-background container">
    <mat-card>
      <mat-card-title>
        {{sessionName}}
      </mat-card-title>
      <mat-card-subtitle>This session requires a passcode to enter</mat-card-subtitle>
      <mat-card-content>
        <ng-container>
            <div class="full-width">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Input</mat-label>
                <input [(ngModel)]="passcode" type="password" matInput >
              </mat-form-field>
              <mat-error *ngIf="error">
                {{error}}
              </mat-error>
            </div>

            <div class="full-width toppad">
              <button (click)="enterPasscodeForSession()" mat-raised-button color="primary" >Submit</button>
            </div>

        </ng-container>

      </mat-card-content>
    </mat-card>
  </div>
</ng-container>
