.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}

.full-width {
  width: 100%
}

.toppad {
  padding-top: 10px;
}

button {
  width: 100%
}

mat-card-content {
  padding: 20px
}
