<div class="body-container">

  <mat-form-field style="padding-right: 15px;">
    <input matInput #name placeholder="Session Name">
  </mat-form-field>
  <button (click)="createNewSession(name.value)" mat-flat-button color="primary">Create New</button>


  <hr>
    <h1>Active Sessions</h1>
  <hr>

  <div *ngIf="error" style="background-color: #FFAAAA">
    {{error}}
  </div>

  <active-session-tiles>
    <active-session-tile cdkDrag *ngFor="let tile of activeSessions | keyvalue" [id]="tile.key">
    </active-session-tile>
  </active-session-tiles>

</div>
