<app-dashboard-header  (searchBoxValue)="searchBoxValueChanged($event)">
</app-dashboard-header>

<div class="body-container">
  <active-session-tiles>
    <app-create-session-tile (createSession)="createNewSession($event)"></app-create-session-tile>
    <active-session-tile cdkDrag *ngFor="let tile of visibleSessions" [session]="tile">

    </active-session-tile>
  </active-session-tiles>

  <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
    <button (click)="auth.logout({ returnTo: logoutDirect() })">
      Log out
    </button>
  </ng-container>

  <ng-template #loggedOut>
    <button (click)="auth.loginWithRedirect()">Log in</button>
  </ng-template>
</div>
