<h2 mat-dialog-title>What's the new hotness?</h2>

<mat-dialog-content style="max-width: 500px">
  <app-changelog-item
    date="11/8/2023"
    content="You can now change your team's pointing scheme! Go to 'Settings', click 'Change Pointing Scheme' and select the scheme of choice. All participants will be notified. Points cast will not be changed in an in-progress vote"
  >
  </app-changelog-item>
  <app-changelog-item
    date="10/3/2022"
    content="A minimally functional vote timer has been added ⚡. Press it to to alert the group who has not voted. Participants who have not voted will be alerted with a gentle bell."
  >

  </app-changelog-item>
 <h5>7/22/2021</h5>
 <ul>
   <li>
     Reveal/Reset Button has been coalesced into a single bad-ass button.
   </li>
 </ul>
  <h5>7/12/2021</h5>
  <ul>
    <li>
      An audio toggle has been added to the settings menu on the session control panel. Use this to turn on/off all the wonderful noises this app makes.
    </li>
  </ul>
</mat-dialog-content>

